body { 
	margin: 5%; 
	text-align: justify; 
	font-size: medium; 
	font-family: Arial;
}
code { font-family: monospace; }

h1, h2 {
	font-family: Palatino;
}
h1 { 
	text-align: left;
	font-size: 14pt; 
	font-weight: lighter; 
	color: #3b607c;
	border-bottom: 1px solid #CCC;
}
h2 { 
	text-align: left; 
	color: #8f8f8f;
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
}
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: square; margin: 0; padding: 0; }